<app-menu></app-menu>
<p-table [value]="bens" dataKey="key">
    <ng-template pTemplate="header">
        <tr>
            <th>Corretora</th>
            <th>Ticker</th>
            <th>Qtd. Inicial</th>
            <th>Valor Inicial</th>
            <th>Qtd. Final</th>
            <th>Valor Final</th>
            <th>Empresa</th>
            <th>CNPJ</th>
            <th>tipo</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bem let-i="rowIndex">
        <tr>
            <th class="tx-left p-pl-1">{{bem.corretora }}</th>
            <th class="tx-left p-pl-1">{{bem.ticker}}</th>
            <th class="tx-right p-pl-1">{{bem.quantidadeInicial | number}}</th>
            <th class="tx-right p-pl-1">{{bem.valorTotalInicial | currency}}</th>
            <th class="tx-right p-pl-1">{{bem.quantidadeFinal | number }}</th>
            <th class="tx-right p-pl-1 p-pr-2">{{bem.valorTotalFinal | currency}}</th>
            <th class="tx-left p-pl-2">{{bem.nomeEmpresa}}</th>
            <th class="tx-center p-pl-1">{{bem.CNPJ}}</th>
            <th class="tx-center p-pl-1">{{bem.tipoNoIr}}</th>
        </tr>
    </ng-template>
</p-table>